@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>
<h3>@Model.Location</h3>

@*<div>Location: @ViewBag.Location</div>*@

<p>Use this area to provide additional information.</p>
